* {
  box-sizing: border-box;
}

body {
  margin: 0px;
  font-family: "segoe ui";
}
.cover {
  width: 100%;
  display: flex;
  justify-content: center;
  height: 500px;
  align-items: center;
  flex-direction: column;
}
.cover a{
  margin: 30px;
  width: 150px;
  text-align: center;
  border-radius: 5px;
  height: 30px;
  background: #009688;
  color: #fff;
}
/* nav */
.nav {
  height: 50px;
  width: 100%;
  background-color: #009688 ;
  position: relative;
}

.nav > .nav-header {
  display: inline;
}

.nav > .nav-header > .nav-title {
  display: inline-block;
  font-size: 22px;
  color: #fff;
  padding: 10px 10px 10px 10px;
}

.nav > .nav-btn {
  display: none;
}

.nav > .nav-links {
  display: inline;
  float: right;
  font-size: 18px;
}

.nav > .nav-links > a {
  display: inline-block;
  padding: 13px 10px 13px 10px;
  text-decoration: none;
  color: #efefef;
}

.nav > .nav-links > a:hover {
  background-color: rgba(0, 0, 0, 0.3);
}

.nav > #nav-check {
  display: none;
}

@media (max-width: 600px) {
  .nav > .nav-btn {
    display: inline-block;
    position: absolute;
    right: 0px;
    top: 0px;
  }
  .nav > .nav-btn > label {
    display: inline-block;
    width: 50px;
    height: 50px;
    padding: 13px;
  }
  .nav > .nav-btn > label:hover,
  .nav #nav-check:checked ~ .nav-btn > label {
    background-color: rgba(0, 0, 0, 0.3);
  }
  .nav > .nav-btn > label > span {
    display: block;
    width: 25px;
    height: 10px;
    border-top: 2px solid #eee;
  }
  .nav > .nav-links {
    position: absolute;
    display: block;
    width: 100%;
    background-color: #333;
    height: 0px;
    transition: all 0.3s ease-in;
    overflow-y: hidden;
    top: 50px;
    left: 0px;
  }
  .nav > .nav-links > a {
    display: block;
    width: 100%;
  }
  .nav > #nav-check:not(:checked) ~ .nav-links {
    height: 0px;
  }
  .nav > #nav-check:checked ~ .nav-links {
    height: calc(100vh - 50px);
    overflow-y: auto;
  }
}

#myProgress {
  width: 80%;
  background-color: #ccc;
  margin: 20px auto;
}

#myBar {
  width: 1%;
  height: 30px;
  background-color: green;
}
.content {
  margin: 50px;
  border: 1px solid #ccc;
}

a {
  color: #000;
  padding: 5px 10px;
  text-decoration: none;
}

.tab {
  overflow: hidden;
  background-color: #f1f1f1;
}

.tab button {
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
  font-size: 17px;
}

.tab button:hover {
  background-color: #ddd;
}

.tab button.active {
  background-color: #ccc;
}

.tabcontent {
  display: none;
  padding: 6px 12px;
  border-top: none;
}

/* form */
form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

form > input {
  width: 370px;
  height: 30px;
  margin: 10px 0 20px 0;
  outline: none;
  border: none;
  background: #cccccc78;
  border-radius: 4px;
  padding: 5px;
}

form > input[type="submit"] {
  width: 90px;
  height: 30px;
  margin: 10px 0 20px 0;
  cursor: pointer;
  background: #df5b5b;
  color: aliceblue;
}

form > select {
    background: #333;
    color: #fff;
    border: none;
    outline: none;
}